:root {
  --primary-color: #161F28;
  --primary-text-color: #333;
  --secondary-text-color: #808080; /* 30% lighter than primary text */
  --primary-background-color: #fff;
  --secondary-background-color: #f1f1f1; /* 5% darker than background */ 
  --border-color: #d9d9d9; /* 15% darker than background */
  --hover-color:  #e6e6e6; /* 10% darker than background */
  --toolbar-height: 40px;
}

[data-theme='dark'] {
  --primary-text-color: #fff;
  --secondary-text-color: #b3b3b3; /* 30% darker than primary text */
  --primary-background-color:  #222f3e;
  --secondary-background-color: #1b2631;
  --border-color: #090d10;
  --hover-color: #121921;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 80px 2fr 8fr;
  grid-template-rows: var(--toolbar-height) calc(100vh - var(--toolbar-height));
}

.navbar {
  background-color: var(--primary-color);
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  border-right: 1px solid var(--border-color);
}

.navbar-logo {
  width: 100%;
  background-color: #222f3e;
}

.navbar-logo svg {
  display: block;
  margin: auto;
  padding: 15px 0;
  fill: #fff;
}

.navbar-icons {
  display: inline-flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.navbar-icons a {
  color: #fff;
  font-size: 30px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover,
.navbar a:focus,
.navbar a:active {
  color: #e6e6e6;
}

.menu {
  background-color: var(--secondary-background-color);
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  min-width: 230px;
  border-right: 1px var(--border-color) solid;
  overflow-y: auto;
}

.hide {
  display: none !important;
}

.note-toolbar {
  background-color: #222f3e;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  margin-left: 0px;
  border-bottom: 1px solid var(--border-color);
}

.note-content {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  max-width: 720px;
  width: 100%;
  padding: 0px 16px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  overflow-y: auto;
}

.note-body  {
  height: 100%;
  outline: none;
}

.notes-list {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.note-list-item {
  border-bottom: 1px solid var(--border-color);
  padding: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.note-list-item:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.note-list-meta-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-list-date {
  font-size: 11px;
  display: inline-block;
  color: var(--secondary-text-color);
}

.note-list-heading {
  font-size: 18px;
  text-overflow: ellipsis; 
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
}

.note-list-preview {
  font-size: 14px;
  text-overflow: ellipsis; 
  overflow: hidden;
  color: var(--secondary-text-color);
} 

@media only screen and (max-width: 768px) {

  body {
    grid-template-rows: var(--toolbar-height) calc(100vh - 100px) 60px;
    grid-template-columns: 100%; 
  }

  .navbar {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    min-width: calc(100vw - 20px);
    border-top: 1px solid var(--border-color);
    border-right: none;
  }

  .navbar-logo {
    display: none;
  }

  .navbar-icons {
    flex-flow: row;
    height: 100%;
  }

  .menu {
    display: none;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    z-index: 2;
  }

  .note-content {
    grid-column: 1 / 2;
    min-width: 100%;
  }

  .note-toolbar {
    grid-column: 1 / 2;
  }
}
@media print {
  @page {
    size: auto;  margin: 0mm;
  }
  body {
    display: block;
    font-size: 12pt;
    padding: 15mm;
  }
    .menu {
  display: none;
    }
  .navbar-icons {
    display: none;
  }
    .navbar-logo {
  display: none;
    }
  .note-content {
    min-width: 100%;
  }
  .note-toolbar {
    display: none;
  }
  #header {
    display: none;
  }
}

/* Dark Mode */

input[type=checkbox]{
height: 0;
width: 0;
visibility: hidden;
}

label {
cursor: pointer;
text-indent: -9999px;
width: 52px;
height: 27px;
background: grey;
float: right;
border-radius: 100px;
position: relative;
}

label:after {
content: '';
position: absolute;
top: 3px;
left: 3px;
width: 20px;
height: 20px;
background: #fff;
border-radius: 90px;
transition: 0.3s;
}

input:checked + label {
background: #3694FF;
}

input:checked + label:after {
left: calc(100% - 5px);
transform: translateX(-100%);
}

label:active:after {
width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
transition: all 750ms !important;
transition-delay: 0 !important;
}
.fas{
  color:#F7D358;
}
