:root {
  --primary-color: #8FA998;
  --primary-text-color: #222f3e;
  --background-grey: #f5f5f5;
  --border-color: #ddd;
  --toolbar-height: 40px;
  --select-grey:  #e5e5e5;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  color: var(--primary-text-color);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 80px 2fr 8fr;
  grid-template-rows: var(--toolbar-height) 1fr;
}

.navbar {
  background-color: var(--primary-color);
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.navbar-logo {
  width: 100%;
  background-color: var(--primary-text-color);
}

.navbar-logo svg {
  display: block;
  margin: auto;
  padding: 15px 0;
  fill: #fff;
}

.navbar-icons {
  display: inline-flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.navbar-icons a {
  color: var(--primary-text-color);
  font-size: 30px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover,
.navbar a:focus,
.navbar a:active {
  color: #fff;
}

.menu {
  background-color: transparent;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  min-width: 230px;
  border-right: 1px var(--border-color) solid;
}

.hide {
  display: none !important;
}

.note-toolbar {
  background-color: var(--primary-text-color);
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  margin-left: 0px;
  padding-left: 20px;
}

.note-content {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  max-width: 720px;
  width: 100%;
  padding-left: 20px;
  margin-left: 0px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
}

.note-body  {
  height: 100%;
}

.notes-list {
  font-size: 14px;
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.note-list-date{
  font-size: 10px;
  display: inline-block;
  color: var(--primary-color);
  margin:0px;
}

.note-list-item {
  border-bottom: 1px solid var(--border-color);
  padding: 8px;
  height: 63px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.note-list-item:hover {
  background-color: var(--select-grey);
  cursor: pointer;
}

.note-list-heading {
  text-overflow: ellipsis; 
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
}

.note-list-preview {
  text-overflow: ellipsis; 
  overflow: hidden;
} 

@media only screen and (max-width: 768px) {

  body {
    grid-template-rows: var(--toolbar-height) calc(100vh - 100px) 60px;
    grid-template-columns: 100%; 
  }

  .navbar {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    min-width: calc(100vw - 20px);
  }

  .navbar-logo {
    display: none;
  }

  .navbar-icons {
    flex-flow: row;
    height: 100%;
  }

  .menu {
    display: none;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    z-index: 2;
  }

  .note-content {
    grid-column: 1 / 2;
    min-width: 100%;
  }

  .note-toolbar {
    grid-column: 1 / 2;
  }
}
@media print {
  @page {
    size: auto;  margin: 0mm;
  }
  body {
    display: block;
    font-size: 12pt;
    margin: 2cm;
  }
    .menu {
  display: none;
    }
  .navbar-icons {
    display: none;
  }
    .navbar-logo {
  display: none;
    }
  .note-content {
    min-width: 100%;
  }
  .note-toolbar {
    display: none;
  }
  #header {
    display: none;
  }
}

/* Dark Mode */

html {
  height: 100%;
  font-family: 'Montserrat';

  display: grid;
  align-items: center;
  justify-items: center;

  --bg: #FCFCFC;
  --bg-panel: #EBEBEB;
  --color-headings: #0077FF;
  --color-text: #333333;

}

html[data-theme='dark'] {
  --bg: #333333;
  --bg-panel: #434343;
  --color-headings: #3694FF;
  --color-text: white;
}
body {
  background-color: var(--bg);
  color: var(--color-text);
}

.container {
  background-color: var(--bg-panel);
  margin: 5em;
  padding: 5em;
  border-radius: 15px;

  display: grid;
  grid-template-columns: 80% auto;
  grid-template-rows: auto auto;
  grid-template-areas:
      "title switch"
      "content content";
  }
  h1 {
      margin: 0;
      color: var(--color-headings);
  }

  p {
      color: var(--color-text);
      grid-area: content;
      font-size: 1.1em;
      line-height: 1.8em;
      margin-top: 2em;
  }

input[type=checkbox]{
height: 0;
width: 0;
visibility: hidden;
}

label {
cursor: pointer;
text-indent: -9999px;
width: 52px;
height: 27px;
background: grey;
float: right;
border-radius: 100px;
position: relative;
}

label:after {
content: '';
position: absolute;
top: 3px;
left: 3px;
width: 20px;
height: 20px;
background: #fff;
border-radius: 90px;
transition: 0.3s;
}

input:checked + label {
background: var(--color-headings);
}

input:checked + label:after {
left: calc(100% - 5px);
transform: translateX(-100%);
}

label:active:after {
width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
transition: all 750ms !important;
transition-delay: 0 !important;
}
