:root {
  --primary-color: #89b4a2;
  --primary-color-darker: #79a593;
  --primary-text-color: #333;
  --secondary-text-color: #808080; /* 30% lighter than primary text */
  --primary-background-color: #fff;
  --secondary-background-color: #f1f1f1; /* 5% darker than background */ 
  --border-color: #d9d9d9; /* 15% darker than background */
  --hover-color:  #e6e6e6; /* 10% darker than background */
  --toolbar-height: 40px;
}

[data-theme='dark'] {
  --primary-color: #161F28;
  --primary-color-darker: #121a21;
  --primary-text-color: #fff;
  --secondary-text-color: #b3b3b3; /* 30% darker than primary text */
  --primary-background-color:  #222f3e;
  --secondary-background-color: #1b2631;
  --border-color: #090d10;
  --hover-color: #121921;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  display: grid;
  grid-template-columns: 80px 3fr 1fr 9fr 1fr;
  grid-template-rows: var(--toolbar-height) auto;
}

.navbar {
  background-color: var(--primary-color);
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  border-right: 0px solid var(--border-color);
  z-index: 3;
}

.navbar-logo {
  width: 100%;
  background-color: var(--primary-color-darker);
}
.navbar-logo a:hover {
  cursor: grab;
}


.navbar-logo svg {
  display: block;
  margin: auto;
  padding: 10px 0;
  fill: #fff;
  transition-duration: 0.5s;
  position: relative;
}
.rotated{
  transform: rotateY(90deg);
  transition-duration: 0.5s;
}

.scroll p {
    padding-left: 100%;
    animation: marquee 5s linear infinite;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.scroll{
  display: none;  
  position: absolute;
  width: 80px;
  height: 80px;
  font-size: 16px;
  color: #fff;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.navbar-menu {
  display: inline-flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.navbar-menu a {
  color: #fff;
  font-size: 30px;
  padding: 14px;
  text-decoration: none;
  /* margin: 15px; */
}

.navbar a:hover,
.navbar a:focus,
.navbar a:active {
  color: #e6e6e6;
}

.menu {
  background-color: var(--secondary-background-color);
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  min-width: 280px;
  border-right: 0px var(--border-color) solid;
  -webkit-box-shadow: -20px 0px 20px 20px rgba(0,0,0,0.20);
  -moz-box-shadow: -20px 0px 20px 20px rgba(0,0,0,0.20);
  box-shadow: -20px 0px 20px 20px rgba(0,0,0,0.20);
  overflow-y: hidden;
}

.menu::-webkit-scrollbar { 
  display: visible; 
}

/*.statistics-container {
  padding: 0px 8px;
}

.settings-container {
  padding: 0px 8px;
}*/

.hide {
  display: none !important;
}

.search-container {
  padding: 0px 12px 0px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  height:var(--toolbar-height);
}

.search-container > input[type="search"] {
  border: none;
  background: transparent;
  color: var(--primary-text-color);
  width: 100%;
  height: 100%;
  outline: none;
}

.search-container > input[type="search"]:focus::placeholder {
  color: var(--primary-text-color);
}

.starred-checkbox {
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
  left: -9999px;
}

.starred-checkbox + label::after,
.delete-button,
.tag-button {
  content: "\f005";
  font-family: "Font Awesome 5 Pro";
  cursor: pointer;
  padding: 4px;
  display: inline-block;
  color: var(--primary-text-color);
}

.starred-checkbox:focus + label::after,
.tag-button:focus {
  outline: rgb(59, 153, 252) auto 5px;
}

.starred-checkbox:checked + label::after {
  font-weight: 900;
}

.starred-checkbox:hover + label::after,
.tag-button:hover {
  color: var(--secondary-text-color);
}

.delete-button,
.tag-button {
  border: none;
  background: transparent;
  font-size: 16px;
}

.delete-button:hover,
.delete-button:focus {
  color: orangered;
}

.delete-button::after {
  content: "\f2ed";
}

.tag-button::after {
  content: "\f02c";
  font-weight: 900;
}

.note-toolbar {
  height: var(--toolbar-height);
  /* background-color: #fff; */
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  margin-left: 0px;
  max-width: 720px;
}

.note-content {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  max-width: 720px;
  width: 100%;
  padding: 0px 16px;
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.note-content::-webkit-scrollbar { 
  display: none; 
}


.note-body  {
  height: 100%;
  outline: none;
}

.note-body h1 {
  font-size: 1.8em;
}

.note-body h1:first-child {
  margin-top: 10px;
}

.note-body h2 {
  font-size: 1.6em;
}

.note-body h3 {
  font-size: 1.4em;
}

.note-body p {
  font-size: 18px;
}

.note-body li {
  font-size: 18px;
}

.note-body blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 120px;
  font-style: italic;
}

.note-body img{
  max-width: 100%;
  height: auto;
}

.note-list-no-results {
  padding: 8px;
  font-size: 14px;
  color: var(--secondary-text-color);
}

.note-list-container,
.note-list {
  height: calc(100% - 20px);
}

.note-list {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-y: overlay;
  -webkit-overflow-scrolling: touch;
}

.note-list::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background: none;
}

.note-list::-webkit-scrollbar-thumb {
  background-color: rgba(72, 72, 72,0.2);
  border-radius: 4px;
}

.note-list-item {
  border-bottom: 1px solid var(--border-color);
  padding: 10px 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.note-list-item:last-child {
  border: none;
}

.note-list-item:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.note-list-item-current {
  background: var(--border-color);
}

.note-list-meta-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.note-list-icons {
  display: inline-block;
  position: relative;

}
.fa-trash-alt{
padding-right: 3px;
}
.fa-star {
  padding-left: 3px;
  cursor: pointer;
}
.confirm-div{
  position: absolute;
  display: flex;
  left: -8px;
  right: 0;
  margin-left: auto;
  margin-right: auto; 
  width: 100px; 
  border-radius: 4px;
  top: 0px;
}

.confirm-buttons{
  color: #fff;
  font-size: 12px;
  display: inline-block;
  border: none;
  padding: 7px;
  width: 50%;  
  cursor: pointer;
}

.confirm{
  border-radius: 4px 0px 0px 4px;
  background-color: rgb(224, 75, 75);
}
.confirm:hover{
  background-color: rgb(184, 35, 35);
}

.cancel{
  border-radius: 0px 4px 4px 0px;
  background-color: rgb(142, 142, 142);
}
.cancel:hover{
  background-color: rgb(102,102,102);
}
.animated{
    animation: appear 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes appear {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1.0);
    }
}

.note-list-date {
  font-size: 11px;
  display: inline-block;
  color: var(--secondary-text-color);
}

.note-list-link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.note-list-title {
  font-size: 18px;
  text-overflow: ellipsis; 
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding: 6px 5px 6px 0px;
}

.note-list-preview {
  font-size: 14px;
  text-overflow: ellipsis; 
  overflow: hidden;
  color: var(--secondary-text-color);
} 

@media only screen and (max-width: 768px) {

  body {
    grid-template-rows: var(--toolbar-height) auto 60px;
    grid-template-columns: auto;
  }

  .navbar {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    min-width: calc(100vw - 20px);
    border-top: 0px solid var(--border-color);
    border-right: none;
  }

  .navbar-logo {
    display: none;
  }

  .navbar-menu {
    flex-flow: row;
    height: 100%;
  }

  .menu {
    display: none;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    z-index: 2;
    overflow-y: hidden;
  }

  .note-list-container,
  .note-list {
    height: 100%;
  }

  .confirm-div{
    width: 120px;
    left:0px;
  }
  .show {
    display: block;
  }

  .search-container,
  .menu-header {
    height: calc(var(--toolbar-height) * 1.5);
  }

  .search-container > input[type="search"] {
    font-size: 16px;
  }
  
  .starred-checkbox + label::after,
  .delete-button,
  .tag-button {
    padding: 10px;
  }

  .note-list {
    height: calc(100% - 60px);
  }

  .note-list-title {
    margin-bottom: 10px;
  }

  .note-content {
    grid-column: 1 / 2;
  }

  .note-toolbar {
    grid-column: 1 / 2;
    /* width: 100%; */
  }
}

@media print {
  @page {
    size: auto;  margin: 0mm;
  }
  body {
    display: block;
    font-size: 12pt;
    padding: 15mm;
  }
    .menu {
  display: none;
    }
  .navbar-menu {
    display: none;
  }
    .navbar-logo {
  display: none;
    }
  .note-content {
    min-width: 100%;
  }
  .note-toolbar {
    display: none;
  }
  #header {
    display: none;
  }
}

/* Dark Mode */

.settings-container > input[type=checkbox]{
height: 0;
width: 0;
visibility: hidden;
}

.app-mode {
cursor: pointer;
text-indent: -9999px;
width: 52px;
height: 27px;
background: grey;
float: right;
border-radius: 100px;
position: relative;
}

.app-mode:after {
content: '';
position: absolute;
top: 3px;
left: 3px;
width: 20px;
height: 20px;
background: #fff;
border-radius: 90px;
transition: 0.3s;
}

input:checked + .app-mode {
background: #3694FF;
}

input:checked + .app-mode:after {
left: calc(100% - 5px);
transform: translateX(-100%);
}

.app-mode:active:after {
width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
transition: all 750ms !important;
transition-delay: 0 !important;
}

.bg-modal{
  width: 100%;
  height: 100%;
 background-color: rgba(0,0,0,0.7);
 position: absolute;
 top: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 display: none;
 z-index: 10000;
}
.templateContent{
  max-width: 700px;
  height: 400px;
  background-color: white;
  border-radius: 4px;
  position: relative;
}
.close{
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  
}
.template{
  border: 1px solid #dadce0;
  left: 140px;
  margin: 20px;
  border-radius: 4px;
  cursor: pointer;

}
.templateContent img.template:hover{
  border-color: cornflowerblue;
  
}

/* tags */
.note-list-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px;
  margin-top: 6px;
}

.tag {
  display: inline-block;
  margin: 4px 5px 4px 0px;
  border-radius: 4px;
  padding: 1px 6px;
  font-size: 12px;
  font-weight: bold;
}

.tag-blue {
  background-color: rgb(184, 224, 255);
  color: #7c7c7c;
}

.tag-red {
  background-color: rgb(253, 201, 210);
  color: #7c7c7c;
}

.tag-green {
  background-color: rgb(192, 228, 207);
  color: #7c7c7c;
  
}

.tag-orange {
  background-color: rgb(248, 234, 157);
  color: #7c7c7c;
}

.tag-input {
  color: var(--primary-text-color);
  background: transparent;
  border: none;
  outline: none;
  margin-top: 4px;
  padding-bottom: 4px;
  width: 100%;
  border-bottom: 1px solid var(--primary-background-color);
}

.note-list-add-tag-container {
  margin-left: 2px;
}

.tag-input::placeholder {
  color: var(--primary-text-color)
}

.tag-input:focus {
  border-color: var(--primary-text-color);
}

.tag-delete-button {
  border: none;
  background: transparent;
  cursor: pointer;
  opacity: 0.5;
}

.tag-delete-button:hover {
  opacity: 1;
}

.tag-search-suggestions {
list-style: none;
padding: 0px;
background: var(--secondary-background-color);
border-radius: 0px 0px 4px 4px;
box-shadow: 2px 2px 5px rgba(0,0,0,0.20);;
margin: 0px 8px 8px 8px;
}

.tag-search-text {
display: block;
font-size: 11px;
color: var(--secondary-text-color);
padding: 8px;
}

.tag-search-suggestion-item {
border-bottom: 1px solid var(--border-color);
padding: 4px 8px;
}

.tag-search-suggestion-item:hover,
.tag-search-suggestion-item:focus {
background-color: var(--hover-color);
}


/* tiny overrides */
/* TODO: improve hover, lists etc in dark mode and consider borders */
.tox:not([dir=rtl]),
.tox-toolbar__group:not(:last-of-type) {
  border-right: none !important;
}

.tox,
.tox-toolbar__primary,
.tox-editor-header,
.toolbar__group {
  background: var(--primary-background-color) !important;
  background-color: var(--primary-background-color) !important;
  color: var(--primary-text-color) !important;
  fill: var(--primary-text-color) !important;
  border: none !important;
}
div[role=application]{
      box-shadow: 2px 2px 5px rgba(0,0,0,0.20);  
}

.tox-tbtn,
.tox-tbtn svg {
  color: var(--primary-text-color) !important;
  fill: var(--primary-text-color) !important;
}

/*.dad-joke {
  margin: 0;
  border-left: 1px solid var(--secondary-text-color);
  padding-left: 10px;
  color: var(--secondary-text-color);
}*/